# Application
APP_ENV="development"
APP_NAME="golang-boilerplate"
TIMEZONE="UTC"
APP_HTTP_SERVER=":3000"
APP_REQUEST_TIMEOUT=30
APP_BASE_URL="http://localhosst:3000"

# Rest client
HTTP_CLIENT_TIMEOUT=30s
HTTP_CLIENT_RETRY_COUNT=2
HTTP_CLIENT_RETRY_WAIT_MIN=250ms
HTTP_CLIENT_RETRY_WAIT_MAX=2s
HTTP_CLIENT_BASE_URL=
HTTP_CLIENT_DEBUG=true
HTTP_CLIENT_TLS_INSECURE_SKIP_TLS=false

# Rate limit
RATE_LIMIT=20
RATE_LIMIT_DURATION=1
DEFAULT_RATE_LIMIT=20
AUTH_RATE_LIMIT=30
PUBLIC_RATE_LIMIT=3

# Keycloak
KEY_CLAIMS='user'
KEYCLOAK_REALM=
KEYCLOAK_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REDIRECT_URI=

# Database Local
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# New relic
NEWRELIC_LICENSE=
NEWRELIC_APP_NAME=golang-boilerplate

# Basic Auth
BASIC_AUTH_USER="backend"
BASIC_AUTH_SECRET="admin"

# Sentry
SENTRY_DSN=""

# Enable Redis
REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD="123"
REDIS_DB=0

# Email
EMAIL_PROVIDER="ses"
EMAIL_SES_REGION="ap-southeast-1"
EMAIL_FROM="Golang Boilerplate<support@example.com>"
EMAIL_FROM_NAME="Golang Boilerplate"
EMAIL_SES_ACCESS_KEY_ID=""
EMAIL_SES_SECRET_KEY=""

# Storage
STORAGE_PROVIDER="gcs"
GCS_PROJECT_ID=""
GCS_BUCKET=""
GCS_CREDENTIALS_JSON=""

# Payment
PAYMENT_PROVIDER="stripe"
STRIPE_SECRET_KEY=""
STRIPE_PUBLISH_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_SUCCESS_URL="https://example.com/success"
STRIPE_CANCEL_URL="https://example.com/cancel"
STRIPE_CUSTOMER_PORTAL_URL="https://example.com/account"

# Keycloak container
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=postgres
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_HTTPS=false
KC_HTTP_ENABLED=true
KC_HTTP_RELATIVE_PATH=/auth
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
